bitsandbytes>=0.46.1
importlib_metadata
huggingface_hub
scipy
opencv-python>=4.7.0.72
filelock
numpy
Pillow
einops
pyyaml
scikit-image
python-dateutil
mediapipe
fvcore
yapf
omegaconf
ftfy
addict
yacs
trimesh
albumentations
scikit-learn
matplotlib
segment-anything
piexif
opencv-python-headless>=4.7.0.72
dill
git+https://github.com/facebookresearch/sam2
diffusers>=0.29.1
accelerate>=0.17.0
insightface
ultralytics
onnxruntime-gpu==1.18.0
onnxruntime==1.18.0
imageio_ffmpeg
pykalman
